<div class="component">
    page-a works!

    <app-page-a-a [amount]="amount" (changedAmountFromChild)="updatedAAmount($event)"></app-page-a-a>
    <app-page-a-b name="{{ 'test' }}" *ngIf="showAB"></app-page-a-b>

    <button (click)="updateBValue('New Value')">Update B</button>
</div>
