<div class="container">
    <h4>Message List</h4>

    <ul>
        <li *ngFor="let message of messageList">
            <span class="content">{{ message.message }}</span>
            <span (click)="removeMsg(message.id)" class="close"><i class="far fa-trash-alt"></i></span>
        </li>
        <li *ngIf="messageList.length == 0">
            <span class="content">List is empty</span>
        </li>
    </ul>

</div>


<div class="container">
    <h5>New Message</h5>
    <input type="text" [(ngModel)]="message" placeholder="Empty Message">
    <br>

    <button (click)="sendMessage()" [disabled]="!message || message.length == 0">New Message</button>
</div>


