ul {
	list-style: none;
	margin: 0;
	padding: 5px;
	display: flex;
	width: 100%;
	flex-direction: column;

	li {
		display: flex;
		margin-bottom: 10px;

		width: 100%;

		span {
			display: flex;
		}

		.content {
			flex: 1;
			justify-content: center;
		}

		.close {
			cursor: pointer;
			width: 100px;
		}
	}
}
