body {
	background: #eee;
	padding: 0;
	display: flex;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 0 100px;

}

.component {
	border: 1px solid #9999;
	margin: 5px;
	padding: 5px;
}
