body {
	background: #eee;
	padding: 0;
	display: flex;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 0 100px;

}

.component {
	border: 1px solid #9999;
	margin: 5px;
	padding: 5px;
}


.container {
	width: 600px;
	background: white;
	margin-top: 30px;
	border-radius: 2px;
	box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
}
