<div class="container">
    <h1>{{title}}</h1>
    <a [routerLink]="['home']">Home</a>
    <a [routerLink]="['page2']">Page 2</a>
    <a [routerLink]="['page3']">Page 3</a>
    <!--    <app-page-a></app-page-a>-->
    <!--    <app-page-b></app-page-b>-->
    <router-outlet></router-outlet>
</div>


<div class="container">
    <h2>Template driven forms</h2>

    <form *ngIf="model">
        <div class="form-group">
            <label for="name"></label>
            <input type="text" id="name" name="name" [(ngModel)]="model.name">
        </div>

        <div class="form-group">
            <label for="alpha2Code"></label>
            <input type="text" id="alpha2Code" name="alpha2Code" [(ngModel)]="model.aplha2Code">
        </div>

        <div class="form-group">
            <label for="population"></label>
            <input type="text" id="population" name="population" [(ngModel)]="model.population">
        </div>

        <div>
            {{ model.getDescription() }}
        </div>

        <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    </form>
</div>


<div class="container">
    <h2>Reactive forms</h2>

    <form *ngIf="model" [formGroup]="modelGroup" (ngSubmit)="onSubmitReactive()">
        <div class="form-group">
            <label for="nameReactive"></label>
            <input type="text" id="nameReactive" name="nameReactive" formControlName="name">
        </div>

        <div class="form-group">
            <label for="alpha2CodeReactive"></label>
            <input type="text" id="alpha2CodeReactive" name="alpha2CodeReactive" formControlName="alpha2Code">
        </div>

        <div class="form-group">
            <label for="populationReactive"></label>
            <input type="text" id="populationReactive" name="populationReactive" formControlName="population">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


<div class="container">
    <h2>Dynamic forms</h2>

    <form *ngIf="model" [formGroup]="modelDynamicGroup" (ngSubmit)="onSubmitDynamic()">

        <div class="form-group" *ngFor="let dynamicInput of modelDynamicGroup.controls | keyvalue">
            <label for="{{dynamicInput.key}}Dynamic"></label>
            <input type="text" id="{{dynamicInput.key}}Dynamic" name="{{dynamicInput.key}}Dynamic"
                   formControlName="{{dynamicInput.key}}">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div class="container">
    <h2>NgRX Reducer Counter</h2>


    <div>Current Count: {{ counter$ | async }}</div>

    <button (click)="increment()">Increment</button> <button (click)="decrement()">Decrement</button>

    <button (click)="reset()">Reset Counter</button>
</div>



<div class="container">
    <h2>NgRX Reducer User List</h2>

    <div *ngFor="let user of userList$ | async; let i = index">
        {{ user.firstName }} {{ user.lastName }} <button (click)="removeUser(i)">Remove</button>
    </div>

    <hr>

    <input type="text" placeholder="FirstName" [(ngModel)]="user.firstName">
    <input type="text" placeholder="LastName"  [(ngModel)]="user.lastName">
    <button (click)="addUser()">Add User</button>


</div>
