.container {
	width: 600px;
	background: white;
	margin-top: 30px;
	border-radius: 2px;
	box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
}
